<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xn--80aimpg.xn--80ae9b7b.xn--p1ai</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>eccb99ad-1b2e-464a-83fd-416f63fca8b0</ProjectGuid>
    <MSDeployServiceURL>https://xn--80aimpg.xn--80ae9b7b.xn--p1ai:8172/msdeploy.axd?site=xn--80aimpg.xn--80ae9b7b.xn--p1ai</MSDeployServiceURL>
    <DeployIisAppPath>админ.авсэ.рф</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>u0565068</UserName>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
</Project>